.login-page{
    background: url(../images/login_bg.jpg) no-repeat center center;
}
.login-win{
    border-radius: 3px;
    background-color: #fff !important;
}
.login-title{
    font-family: "微软雅黑";
    font-size: 24px;
    font-weight: 400;
    color: #333;
    text-align: center;
    line-height: 60px;
}
.login-form{
    border-width: 0 !important;
}
.login-footer{
    background: rgba(0,0,0,0.6);
}
.login-footer .webix_el_label{
    color: #fff;
}